<div id="place-name"></div>

<div id="place-lat"></div>
<div id="place-lng"></div>

</br>

<div id="button">
  <%= button_tag "SpotButton", type: 'button', onclick: "randomize()", id: 'spotButton' %>
</div>

<div id="result">
  <%= render 'maps/map'%>
</div>

</br>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
