<div id="place-name"></div>

<div id="place-lat"></div>
<div id="place-lng"></div>

</br>

  <input type="number" id="meters", autofocus, placeholder="distância in km">
  </br>
  <label class="checkbox-inline"><input type="checkbox" name="type" value="restaurant">Restaurant</label>
  <label class="checkbox-inline"><input type="checkbox" name="type" value="bar">Bar</label>
  <label class="checkbox-inline"><input type="checkbox" name="type" value="night_club">night_club</label>
  <label class="checkbox-inline"><input type="checkbox" name="type" value="meal_takeaway">Takeaway</label>



<div id="button">
  <button type="submit" class="btn btn-default spotButton", onclick="randomize()">Submit</button>
</div>

<div id="result">
  <%= render 'maps/map'%>
</div>

</br>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
